<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ngSwitch="/"></ion-back-button>
    </ion-buttons>
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of productsList" #itm>
      <ion-item (click)="pushProduct(item)">
        <ion-icon name="cart"></ion-icon>
        {{item.name}}
      </ion-item>
      <ion-item-options side="end">
        <ion-button color="secondary" (click)="pushToFridge(item)">
          <ion-icon name="add-circle"></ion-icon>
          To-Fridge
        </ion-button>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-button color="secondary" (click)="pushToBasket(item)">
          <ion-icon name="add-circle"></ion-icon>
          To-Buy
        </ion-button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>
