<ion-header>
    <ion-toolbar class="header">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>product-card</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img [src]="path" [alt]="passedProduct[0]"/>
        <ion-card-header>
            <ion-card-title>{{passedProduct[0]}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            {{passedProduct[1]}}
        </ion-card-content>
    </ion-card>
</ion-content>

