<ion-header>
  <ion-toolbar>
    <ion-title>Products to buy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of productsList">
      <ion-item (click)="pushProduct(item)">
        <ion-icon name="basket"></ion-icon>
        {{item.name}}
      </ion-item>
      <ion-item-options side="end">
        <ion-button color="danger" (click)="removeProduct(item)">
          <ion-icon name="remove-circle"></ion-icon>
          Delete
        </ion-button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-button href="all-products" expand="full">
    Add new product u need to buy
    <ion-icon icon="add-circle-outline"></ion-icon>
  </ion-button>
</ion-content>
