<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 style="margin: 5px;">Help with choosing food according with food in fridge.</h3>
  <ion-list>
    <ion-item href="breakfast">
      <ion-icon icon="sunny"></ion-icon>
      <h4>For breakfast</h4>
    </ion-item>
    <ion-item>
      <ion-icon icon="stopwatch"></ion-icon>
      <h4>For lunch</h4>
    </ion-item>
    <ion-item href="dinner">
      <ion-icon icon="partly-sunny"></ion-icon>
      <h4>For dinner</h4>
    </ion-item>
  </ion-list>

  <ion-button expand="full" href="recipes">All recipes</ion-button>
</ion-content>
